body {
    background-color:#A40102;
}



.auto-style1 {
       width: 70%;
       margin-left:auto;
       margin-right:auto;
       /* border: solid 1px;
       border-color: white; */
       
 }




.nav{
    border:solid 1px;
    border-color: white;  /*  #ffcc00 */
    border-width:1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
    font-size: 20px;  
    font-family:impact,Arial,Tahoma;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none; 
    color: white;    /*  50B1B1 #50B1B1 */
    width: 130px;
}
.nav a:hover{ color:#50B1B1; }  

.nav a:active { color: white; } 


#Left_header_pic {
    height:180px;
    width: 915px;
    padding:10px;
    background-color: white;
    /*border-top-right-radius: 80px;*/
}


/*.loginDisplay {
    float:right;
}*/

/* .right_pics {
    height: 50px;
    width: 50px;
    
} */

.Img3 {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.auto-style2 {
        background-color:white;
       width: 70%;
       margin-left:auto;
       margin-right:auto;
       /* border: solid 1px;
       border-color: white; */

}

.cntl_h3 {
    color:black;
    text-align:center;
    font-size:22px;
    text-decoration:underline;
}

#Hm_pge {
    padding:40px;
    
}